streamlit>=1.36.0
Pillow>=10.0.0
langchain>=0.2.14  # <--- ADD THIS LINE
langchain-core>=0.2.14
langchain-community>=0.2.10
langchain-openai>=0.1.13
langchain-text-splitters>=0.2.2
openai>=1.35.1
pypdf>=4.2.0
docarray>=0.30.0
